#banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100vw;
    height: 100vh;
 
}

.slider .h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider .prev {
    left: 10px;
}

.slider .next {
    right: 10px;
}
@media (max-width: 768px){
    #banner {
        position: relative;
        top: 20%;
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .slides {
        display: flex;
        transition: transform 0.5s ease;
    }
    
    .slide {
        min-width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }
    
    .slide img {
        width: 100vw;
        height: 40vh;
     
    }
    
}